
<div class="card mb-3 border-primary">
  <div class="card-header"><%= post.category.name %></div>

  <div class="card-body">
    <h3 class="mb-0"><%= link_to post.title, post,{:style=>'color:#000000;'} %></h3>
    <div class="row">
            <div class="col-4 text-muted">Author:  <%= post.account.full_name %></div>
            <div class="col-4 text-muted">Comments: <%= post.comments.count %></div>
            <div class="col-4 text-muted"><%= post.created_at.strftime("%d-%m-%Y") %></div>
    </div>
  </div>
</div>
